[Unit]
Description=CTP Service
After=network.target

[Service]
Type=simple
User=<%= @ctp_user %>
Group=<%= @ctp_group %>
UMask=0027
WorkingDirectory=<%= @ctp_path %>
ExecStart=<%= @ctp_java %>/bin/java -server -showversion -Xmx<%= @ctp_runner_java_max_memory %> -Xms<%= @ctp_runner_java_min_memory %> -jar <%= @ctp_path %>/Runner.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target



