# CONFIGURED by PUPPET
# Any changes will be overwritten
# puppet_module_nrgctp/templates/ctp.erb

# /etc/sysconfig/ctp - 8/23/2011 - Matt House, housem@wustl.edu
# CTP configuration.  Defaults listed here are set in /etc/init.d/ctp

# Base CTP directory (contains libraries)
# BASEDIR=/JavaPrograms/CTP

# Path of "lib" directory, where jars can be found
# LIBDIR=${BASEDIR}/libraries

# Path to configuration file
# CONF_FILE=${BASEDIR}/config.xml

# Path to classes directory, where extra raw class files can be found
# CLASSDIR=${BASEDIR}/classes

# Path to Log file
<% if @ctp_log_dir != "/var/log/ctp" -%>
CTP_LOGDIR=<%= @ctp_log_dir %>
<% else -%>
# CTP_LOGDIR=/var/log/ctp
<% end -%>

# User CTP executes as
<% if @ctp_user != "NRG-SVC-CNDA-CTP" -%>
CTP_USER=<%= @ctp_user %>
<% else -%>
# CTP_USER=NRG-SVC-CNDA-CTP
<% end -%>

# Seconds to wait for CTP to shutdown
# SHUTDOWN_WAIT=30

# Path to Java Advanced Imaging Image I/O Tools
# JAI_IMAGEIO_DIR=/opt/jai_imageio
